{% include 'public_header.html' %}
<center>
	<div style="background: url(static/assets/img/hero.jpg) no-repeat center / cover; 
    height: 800px;
    width: 100%;
    display: table;
    position: relative;" >
    <br><br><br><br>
	<h3 style="margin-top: 1em"><u>Our Services</u></h3>
	 <section>
            <div class="container">
                <!-- <div class="text-center">
                    <h2 class="heading-separator">Latest Work</h2>
                    <p class="subheading-text">This is some of our best work</p>
                </div> -->
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6">
                         <div class="portfolio-item">
                            <img src="/static/img/train.jpeg" class="img-res" alt="" height="200" width="200">
                            <!-- <h4 class="portfolio-item-title">Portfolio item</h4> -->
                            <!-- <a href="portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a> -->
                        </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="/static/img/bus.jpeg" class="img-res" alt="" height="200" width="200">
                            <!-- <h4 class="portfolio-item-title">Portfolio item</h4>
                            <a href="portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a> -->
                        </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="/static/img/car.jpeg" class="img-res" alt="" height="200" width="200">
                            <!-- <h4 class="portfolio-item-title">Portfolio item</h4>
                            <a href="portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a> -->
                        </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="/static/img/jeep.jpeg" class="img-res" alt="" height="200" width="200">
                            <!-- <h4 class="portfolio-item-title">Portfolio item</h4>
                            <a href="portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a> -->
                        </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="/static/img/bike.jpeg" class="img-res" alt="" height="200" width="200">
                            <!-- <h4 class="portfolio-item-title">Portfolio item</h4>
                            <a href="portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a> -->
                        </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="/static/img/cycle.jpeg" class="img-res" alt="" height="200" width="200">
                            <!-- <h4 class="portfolio-item-title">Portfolio item</h4>
                            <a href="portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a> -->
                        </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="/static/img/bus.jpeg" class="img-res" alt="" height="200" width="200">
                            <!-- <h4 class="portfolio-item-title">Portfolio item</h4>
                            <a href="portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a> -->
                        </div><!-- /.portfolio-item -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="portfolio-item">
                            <img src="/static/img/bus.jpeg" class="img-res" alt="" height="200" width="200">
                            <!-- <h4 class="portfolio-item-title">Portfolio item</h4>
                            <a href="portfolio-item.html"><i class="fa fa-arrow-right" aria-hidden="true"></i></a> -->
                        </div><!-- /.portfolio-item -->
                    </div>
                </div>
            </div>
        </section>
</center>
{% include 'footer.html' %}