{% include 'admin_header.html' %}	
	<center>
        <div style="background: url(/static/assets/img/hero.jpg) no-repeat center / cover; 
    height: 800px;
    width: 100%;
    display: table;
    position: relative;" >
        <div class="hero-content">
            <div class="hero-text">
                <center>
                	<body>
                <h2 style="color: white">View Trip</h2>
    <form method="">
        <table border="10" class="table" style="width: 900px;background-color: white">
            <tr>
            	<th>User</th>
                <th>Place</th>
                <th>Vehicle</th>
                <th>Description</th>
                <th>Tripstartdate</th>
                <th>Tripenddate</th>
                <th>Starttime</th>
                <th>Startplace</th>
             </tr>
            {% for row in data['user'] %}
            <tr>
            	<td>{{row['Firstname'] }}</td>
                <td>{{row['tplace']}}</td>
                <td>{{row['Vehicle']}}</td>
                <td>{{row['Description']}}</td>
                <td>{{row['Tripstartdate']}}</td>
                <td>{{row['Tripenddate']}}</td>
                <td>{{row['Starttime']}}</td>
                <td>{{row['Startplace']}}</td>
                <td><a href="admin_view_user?&id={{row['User_id']}}">View User</a></td>
                <td><a href="admin_view_request?&id={{row['Trips_id']}}">View other request</a></td>
                <td><a href="admin_view_feedback?&id={{row['Trips_id']}}">View Feedback</a></td>
                <td><a href="admin_view_image?&id={{row['Trips_id']}}">View Image & Video</a></td>


            </tr>
            {% endfor %}
        </table>
    </form>
</body>
   
         </div><!-- /.hero-text -->
        </div><!-- /.hero-content -->
    </div><!-- /.hero --> 
 
</center>
 

{% include 'footer.html' %}