{% include 'admin_header.html' %}
<center>
	<div style="background: url(/static/assets/img/hero.jpg) no-repeat center / cover; 
    height: 800px;
    width: 100%;
    display: table;
    position: relative;" >
        <div class="hero-content">
            <div class="hero-text">
                <center>
                	<body>
                <h2 style="color: white">View Replay</h2>
	<form method="post">
<table>
	<tr>
		<th style="font-size: 25px">Reply</th>
		<td><input class="form-control" name="reply"><br></td>
	</tr>
	<tr>
		<td colspan="2" align="center" style="font-size: 27px"><input type="submit" name="send" class="btn btn-primary" value="Send"></td>
	</tr>
</table>
</center>
</form>
</body>
</center>
</div>
</div>
</div>
</center>
{% include 'footer.html' %}