{% include 'admin_header.html' %}

<center>
    <div style="background: url(/static/assets/img/hero.jpg) no-repeat center / cover; 
    height: 800px;
    width: 100%;
    display: table;
    position: relative;" >
        <div class="hero-content">
            <div class="hero-text">
                <center>
                    <body>
                <h2 style="color: white">View Feedback</h2>
	<form method="">
        <table border="10" class="table" style="width: 900px;background-color: white">
            <tr>
            	<th>Firstname</th>
            	<th>Feedback</th>
                <th>Date</th>
               
            </tr>
         {% for row in data['fdb'] %}
         <tr>
         	    <td>{{row['Firstname']}}</td>
                <td>{{row['Feedback']}}</td>
                <td>{{row['Date']}}</td>
         </tr>

         {% endfor %}

     
 </table>
</form>
</body>
</center>
</div>
</div>
</div>
</center>

{% include 'footer.html' %}