{% include 'user_header.html' %}

<center>

    <div  style="background: url(/static/assets/img/hero.jpg) no-repeat center / cover; 
    height: 800px;
    width: 100%;
    display: table;
    position: relative;">
        <div class="hero-content">
            <div class="hero-text">
                    <body>
                <h2 style="color: white">View Request</h2>
	<form method="post">
        <table border="10" class="table" style="width: 900px;background-color: white" >
            <tr>
            
                <th>Place</th>
                <th>Vehicle</th>
                <th>Status</th> 
                <th>Date</th>
               <th>Details</th>
              
            </tr>
         {% for row in data['rqt'] %}
         <tr>
                
                <td>{{row['Place']}}</td>
                <td>{{row['Vehicle']}}</td>
                <td>{{row['Status']}}</td>
                <td>{{row['Date']}}</td>
                <td><a href="user_viewplannerinfo?pid={{row['User_id']}}">View Details</a></td>
               {% if row['Status']=="Accept" %}
               <td><a href="user_add_images?tid={{row['Trip_id']}}">Add images</a></td>
               <td><a href="user_add_feedback?tid={{row['Trip_id']}}">Add feedback</a></td>
               <td><a href="user_chat?uid={{row['User_id']}}">CHAT</a></td>

               {% endif %}
                


        </tr>

         {% endfor %}

     </form>
 </table>
</form>
</body>
</div>
</div>
</div>
</center>

{% include 'footer.html' %}