{% include 'user_header.html' %}

<center>

    <div  style="background: url(/static/assets/img/hero.jpg) no-repeat center / cover; 
    height: 800px;
    width: 100%;
    display: table;
    position: relative;">
        <div class="hero-content">
            <div class="hero-text">
                    
                <body>
                	{%  if data['user'] %}
                <h2 style="color: white">View Users</h2>
	<form method="post">

        <table border="10" class="table" style="width: 900px;background-color: white" >
         
         {% for row in data['user'] %}
         <tr>
                {% if row['Sender_id'] |int !=data['uid'] |int%}
                <td><a href="user_chat?uid={{row['Sender_id']}}">{{row['Firstname']}}</a></td>
                {% endif %}
      
               </tr>

         {% endfor %}
{% else %}
<h1>NO MESSEAGES</h1>
{% endif %}
     </form>
 </table>
</form>
</body>



</div>
</div>
</div>
</center>


{% include 'footer.html' %}