{% include 'user_header.html' %}

<center>
	<div  style="background: url(/static/assets/img/hero.jpg) no-repeat center / cover; 
    height: 800px;
    width: 100%;
    display: table;
    position: relative;">
        <div class="hero-content">
            <div class="hero-text">

<h2 style="color: white">Send Feedback</h2>
<form method="post">
	<center>
<table>
	<tr>
		<th style="font-size:20px">Feedback</th>
		<td><input class="form-control" type="Feedback" name="Feedback"></td>
	</tr>
	<tr>
		<td colspan="1" align="center"><input class="form-control" type="submit" name="Send" class="btn btn-primary" value="Send"></td>
		</tr>
</table>
</form>
</div>
</div>
</div>
</center>
</center>




{% include 'footer.html' %}